

.drop-down-refresh-wrapper{
  position: relative;
}

.drop-down-refresh-layer{
  display: none;
  background-color: #ccc;

  .refresh-pull-arrow{
      position: absolute;
      left: 50%;
      top: 0;
      width: 6px;
      height: 20px;
      margin-left: -3px;
      background: #00b894;
      box-shadow: 0 3px 5px rgba(0, 0, 0, .2);

      &::before{
        content: '';
        position: absolute;
        width: 60%;
        height: 10px;
        top: 9px;
        right: -5px;
        background-color: #00b894;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        transform: rotate(45deg);
      }

      &::after{
        content: '';
        position: absolute;
        width: 60%;
        height: 10px;
        top: 10px;
        right: 7px;
        background-color: #00b894;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        transform: rotate(-45deg);
      }
  }

  .refresh-pull-loading{
    display: none;
    text-align: center;
    opacity: .4;
    margin: 10px 0 10px 0;

    &>span{
      display: inline-block;
      vertical-align: middle;
      width: 10px;
      height: 10px;
      margin-right: 3px;
      -webkit-transform: scale(0.3);
      transform: scale(0.3);
      border-radius: 50%;
      -webkit-animation: ptr-loading 0.4s infinite alternate;
      animation: ptr-loading 0.4s infinite alternate;

      &:nth-child(1){
        -webkit-animation-delay: 0;
        animation-delay: 0;
      }
      &:nth-child(2){
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
      }
      &:nth-child(3){
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
      }
    }
  }
}

.refresh-pull-up{
  .refresh-pull-arrow{
    transition: transform .4s ease;
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
  }
}


@keyframes ptr-loading {
  0% {
    -webkit-transform: translateY(0) scale(0.3);
    transform: translateY(0) scale(0.3);
    opacity: 0;
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      background-color: #fff;
      opacity: 1;
  }
}
